<div class="container">
    <div class="col-md-6 shadow mx-auto p-3 mt-3">
      <h3 class="text-center">Register Form</h3>
      <form [formGroup]="registerForm">
          <div class="form-group">
              <label for="name">Name:</label>
              <input type="text"
                     class="form-control"
                     id="name"
                     formControlName="name"
                     minlength="4"
                     required>
                     <div *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)"
                   class="alert alert-danger">
                        <span *ngIf="registerForm.controls['name'].errors.required" class="text-danger">
                          Username is required.
                        </span>
                        <span *ngIf="registerForm.controls['name'].errors.minlength" class="text-danger">
                          Maxlent is required.
                        </span>
                  </div>
                     
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       formControlName="email"
                       required>

                        <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)"
                   class="alert alert-danger">
                        <span *ngIf="registerForm.controls['email'].errors.required" class="text-danger">
                          Email is required.
                        </span>
                        <span *ngIf="registerForm.controls['email'].errors.pattern" class="text-danger">
                          Must be Valid email format.
                        </span>
                  </div>
            </div>

                    

              <div class="form-group">
                  <label for="phone">Phone:</label>
                  <input type="text"
                         class="form-control"
                         id="phone"
                         formControlName="phone"
                         required>
                </div>

                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea class="form-control"
                              rows="4"
                              id="address"
                              formControlName="address"></textarea>
                  </div>

         <div class="form-group">
                    <label for="address">Gander:</label>

       <input type="radio" formControlName="food" value="beef" > Beef
      <input type="radio" formControlName="food" value="lamb"> Lamb
    </div>
                 
            <button (click)="register()" class="btn btn-info">Submit</button>

      </form>
      </div>
  </div>
